<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
</head>
<body>
<h1>MISSH - "Budapest" ft. Burai Krisztián</h1>

[Intro: MISSH]<br>
Yeah, te és én<br>
Ahah, yeah<br>
2-0-1-5<br>
Ja, ja, ja<br>

<br>

[Refrén: Burai Krisztián]<br>
Csak bébi te és én<br>
Ketten Budapesten<br>
Csapattunk a városban<br>
Szívtunk egész este<br>
Tudom másé a szíved<br>
De az enyém a tested<br>
Öntöttük a vodkát<br>
És csináltuk egész este<br>

<br>

[Verze 1: MISSH]<br>
Yeah<br>
Mertem álmodni<br>
Annyi csajom volt, hogy már meg sem tudnád számolni<br>
Az életem olyan, mint egy film és tudnád bámulni<br>
Egész nap és nem értheted<br>
A fellépéseken a pénzeket<br>
És hogy minden kiscsaj megkap mert<br>
Mi csak megyünk, és megyünk<br>
Gyerekek vagyunk örökre<br>
Tudod, hogy pénzt csinálok<br>
És soha mi nem megyünk mi tönkre<br>
Mi csak iszunk, és szívunk<br>
Én nálad nem vágyok többre<br>
Csak szívunk, és szívunk<br>
Én nálad nem vágyok többre<br>

<br>

[Pre-Chorus: MISSH]<br>
A szemed is szebben ragyog<br>
Ha melletted vagyok, és fent van a hold<br>
Tudod ketten, de csak ma este<br>
Mert tudod a szerelem mindig mindent elront<br>
Szívjuk a cigit nincs gond<br>
Beszélni nem kell, a szemed mindent el mond, yeah<br>
Csak baszunk, és baszunk, és pont<br>

<br>

[Refrén: Burai Krisztián]<br>
Csak bébi te és én<br>
Ketten Budapesten<br>
Csapattunk a városban<br>
Szívtunk egész este<br>
Tudom másé a szíved<br>
De az enyém a tested<br>
Öntöttük a vodkát<br>
És csináltuk egész este<br>
Csak bébi te és én<br>
Ketten Budapesten<br>
Csapattunk a városban<br>
Szívtunk egész este<br>
Tudom másé a szíved<br>
De az enyém a tested<br>
Öntöttük a vodkát<br>
És csináltuk egész este<br>

<br>

[Verze 2: MISSH]<br>
Tudod jól velem ez milyen<br>
Azt mondtad te nem szívsz, mert te nem vagy ilyen<br>
Most senki nem kell, hazavigyen<br>
Csak ketten vagyunk és eljátsszuk a világ a mienk<br>
A barátod pihen<br>
Mert tudja ha átjövök, azt mondod igen<br>
Egy cigire igen, egy baszásra igen<br>
Még mindig egy lánynál a szívem<br>
A hátsó zsebében a nevem, ay<br>
Mindig van egy szép lány, aki benéz ma este, csak te<br>
Megindulunk ketten<br>
Csináljuk a cigiket, és leszarunk mindent<br>
Yeah<br>

<br>

[Pre-Chorus: MISSH]<br>
A szemed is szebben ragyog<br>
Ha melletted vagyok, és fent van a hold<br>
Tudod ketten, de csak ma este<br>
Mert tudod a szerelem mindig mindent elront<br>
Szívjuk a cigit nincs gond<br>
Beszélni nem kell, a szemed mindent el mond, yeah<br>
Csak baszunk, és baszunk, és pont, yeah<br>

<br>

[Refrén: Burai Krisztián]<br>
Csak bébi te és én<br>
Ketten Budapesten<br>
Csapattunk a városban<br>
Szívtunk egész este<br>
Tudom másé a szíved<br>
De az enyém a tested<br>
Öntöttük a vodkát<br>
És csináltuk egész este<br>
</body>
</html>